
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title></title>

<link rel="stylesheet" type="text/css"
	href="/osgi.enroute.webresource/${bsn}/${Bundle-Version}/*.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="blogModule">

	<div class="container" ng-controller="BlogController as blogCtr">

		<form novalidate class="simple-form">
			<input type="text" ng-model="blogCtr.searchStr" /> <input
				type="button" ng-click="blogCtr.search()" value="Search" />
		</form>
		<div class="header">Blogs</div>
		<div>
			<div class="row">
				<div class="col-sm-5">
					<ul class="nav nav-pills nav-justified"
						ng-repeat="blog in blogCtr.blogs">
						<li ng-class="{active: blogCtr.selectedBlog==blog}"><a
							ng-click="blogCtr.selectedBlog = blog">{{blog.title}}</a></li>
					</ul>
				</div>
				<!-- Body of the blog -->
				<div class="col-sm-7">{{blogCtr.selectedBlog.body}}</div>
			</div>

		</div>

		<div class="footer">
			<p>&copy; ${def;Bundle-Vendor;Company} ${tstamp;YYYY}</p>
		</div>

	</div>

	<script src="/osgi.enroute.webresource/${bsn}/${Bundle-Version}/*.js"></script>

</body>
</html>
